<%= render "layouts/navbar" %>
<% stylesheet_link_tag("faq.css") %>
<div class="container-fluid">
  <div class="row">
    <div class="contact-container col-xl-7">
      <div class="contact-sub-container">
      <h1 class="text-2"> FAQ </h1>

      <div class="faq-1" style="margin-top: 50px;">
<p class="text-3">Are there any restrictions for international artists (outside US)? </p>
<p class="text-4"> Several of our artists are located in Europe, Canada and South America. Location is not an issue.</p>
      </div>
<div class="faq-1" style="margin-top: 50px;">
<p class="text-3">Are there any restrictions for international artists (outside US)? </p>
<p class="text-4"> Several of our artists are located in Europe, Canada and South America. Location is not an issue.</p>
      </div>
<div class="faq-1" style="margin-top: 50px;">
<p class="text-3">Are there any restrictions for international artists (outside US)? </p>
<p class="text-4"> Several of our artists are located in Europe, Canada and South America. Location is not an issue.</p>
      </div>
<div class="faq-1" style="margin-top: 50px;">
<p class="text-3">Are there any restrictions for international artists (outside US)? </p>
<p class="text-4"> Several of our artists are located in Europe, Canada and South America. Location is not an issue.</p>
      </div>
<div class="faq-1" style="margin-top: 50px;">
<p class="text-3">Are there any restrictions for international artists (outside US)? </p>
<p class="text-4"> Several of our artists are located in Europe, Canada and South America. Location is not an issue.</p>
      </div>
<div class="faq-1" style="margin-top: 50px;">
<p class="text-3">Are there any restrictions for international artists (outside US)? </p>
<p class="text-4"> Several of our artists are located in Europe, Canada and South America. Location is not an issue.</p>
      </div>
<div class="faq-1" style="margin-top: 50px;">
<p class="text-3">Are there any restrictions for international artists (outside US)? </p>
<p class="text-4"> Several of our artists are located in Europe, Canada and South America. Location is not an issue.</p>
      </div>
<div class="faq-1" style="margin-top: 50px;">
<p class="text-3">Are there any restrictions for international artists (outside US)? </p>
<p class="text-4"> Several of our artists are located in Europe, Canada and South America. Location is not an issue.</p>
      </div>
<div class="faq-1" style="margin-top: 50px;">
<p class="text-3">Are there any restrictions for international artists (outside US)? </p>
<p class="text-4"> Several of our artists are located in Europe, Canada and South America. Location is not an issue.</p>
      </div>
<div class="faq-1" style="margin-top: 50px;">
<p class="text-3">Are there any restrictions for international artists (outside US)? </p>
<p class="text-4"> Several of our artists are located in Europe, Canada and South America. Location is not an issue.</p>
      </div>
      </div>



  </div>
 </div>
</div>

<%= render "layouts/footer" %>