<div id="<%= dom_id room %>" style="box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 12px; padding: 15px; position: relative;">
  <p style="font-size: 20px; font-weight: bold; margin: 0px; padding: 0px;"> <%= room.secondemail %> </p>
  <p style="font-size: 20px; font-weight: bold; margin: 0px; padding: 0px;"> <%= room.email %> </p>
  <p>
    <%= link_to "", room, style:"position: absolute; left: 0px; top: 0px; height: 100%; width: 100%;"%>
  </p>
</div>
